<ng-container [formGroup]="parentGroup">
    <div *ngIf="data.headline" class="full-width marginBottomNormal">{{data.headline}}</div>
    <div class="matSliderLabel">{{data.question}}: {{ formatUnit(sliderField.value) }}</div>
    <mat-slider formControlName="{{data.name}}" min="{{ sliderData[activeUnit].min}}" max="{{ sliderData[activeUnit].max}}" step="{{ sliderData[activeUnit].step}}" value="{{ sliderData[activeUnit].default}}" color="primary" [thumbLabel]="sliderData[activeUnit].thumbLabel"
        [tickInterval]="sliderData[activeUnit].tickInterval" vertical #sliderField>
    </mat-slider>

    <ng-container *ngIf="data.button_toggle">
        <app-button-toggle [parentGroup]="parentGroup" [data]="data.button_toggle" (buttonToggleEvent)="updateFormValue($event)" (addControlEvent)="addControl($event)"></app-button-toggle>
    </ng-container>
</ng-container>