.form {
    background: #fff;
    padding-top: 1em;
}

.headlineH1 {
    margin-bottom: 1em;
    margin-left: 20px;
}


/*
/deep/ div.mat-horizontal-stepper-content {
    overflow: visible;
}
*/

:host /deep/ .mat-step-icon,
:host /deep/ .mat-step-icon-not-touched {
    flex-shrink: 0;
}

:host /deep/ .mat-step-label,
:host /deep/ .mat-radio-label {
    text-overflow: initial;
    white-space: normal;
}

.buttons {
    margin: 1em 0;
}

.buttons button {
    margin-top: 1em;
}

@media (min-width: 600px) {
    .form {
        padding-top: 2em;
    }
    .form__inner {
        flex-wrap: nowrap;
        justify-content: space-between;
        max-width: 90%;
        margin: 0 auto;
    }
}

@media (min-width: 1024px) {
    .form__inner {
        max-width: 900px;
        margin: 0 auto;
    }
}

@media (min-width: 1200px) {
    .form__inner {
        max-width: 900px;
        margin: 0 auto;
    }
}