<form *ngIf="funnelData" [formGroup]="formParent" class="form" (ngSubmit)="onSubmit(formParent)">
    <div class="form__inner">
        <h1 class="headlineH1"> This is a headline </h1>
        <mat-vertical-stepper (click)="updateUrl(matStepper.selectedIndex)" #matStepper linear>
            <mat-step *ngFor="let step of funnelData" [stepControl]="getStep(step.name)">
                <ng-template matStepLabel>{{step.question || step.label}}</ng-template>
                <app-form-step [parentGroup]="formParent" [data]="step" (addControlEvent)="addControl($event)" (selectOpenedOrClosedEvent)="setSelectStatus($event)"></app-form-step>
            </mat-step>
        </mat-vertical-stepper>
         <pre>{{formParent.value | json }}</pre> 
    </div>
</form>


<div #ubFormContainer [attr.id]="'ubFormContainer'"></div>