<div class="center-content main">
    
    <div class="how-it-works">
        
        <div class="column" *ngFor="let value of funnelData[1].how_it_works.values, index as i">
            <h3 class="title"><span>{{'0' + (i+1)}}</span>{{value.title}}</h3>
            <div class="body">{{value.text}}</div>
        </div>
        
      <!--   <div class="column">
            <h3 class="title"><span>01</span> FREE PHONE CONSULTATION</h3>
            <div class="body">Learn everything there is to know about weight loss, our doctors and your options</div>
        </div>
        <div class="column">
            <h3 class="title"><span>02</span> RECEIVE FREE QUOTE</h3>
            <div class="body">We'll send you a free, personal quote so you'll know exactly what's included</div>
        </div> 
        <div class="column">
            <h3 class="title"><span>03</span> BOOK, SIT BACK AND RELAX</h3>
            <div class="body">If you decide to book, your personal health manager will make sure you're well prepared. We will never charge extra for our services</div>
        </div> -->
    
    </div> 
    <form *ngIf="funnelData" [formGroup]="formParent" (ngSubmit)="onSubmit(formParent)">
       
      <!--   <div *ngIf="hasTopForm">
            <app-form-hero [parentGroup]="formParent" [data]="topFormData" (addControlEvent)="addControl($event)" (goToFirstStepEvent)="goToFirstStep()"></app-form-hero>
        </div> -->
       
        <div class="form__inner" #firstStep>
            <div class="headline-box">
            <h1 class="headlineH1" >{{funnelData[2].funnel.values[0].title}}</h1>
            <h2>{{funnelData[2].funnel.values[0].text}}</h2>
            </div>
            <mat-vertical-stepper (click)="updateUrl(matStepper.selectedIndex)" linear #matStepper>
                <ng-container *ngFor="let step of funnelData">
                <mat-step  *ngIf="step.field === 'step'" [stepControl]="getStep(step.name)">
                    
                    <ng-template matStepLabel>{{step.question || step.label}}</ng-template>
                    
                    <!-- [childGroup]="formGroup.get(step.name)" -->
                    <app-bmi
                      *ngIf="step.name === 'anthropometry'"
                      [childGroup]="formParent"
                      [fields]="step.fields"
                      [temp_controls]="temp_controls"
                      [button]="step.button"
                      (bmiReady)="moveToNextStep()"
                      (addControlEvent)="addControl($event)"
                    >
                    </app-bmi>

                    <div
                      *ngIf="step.name === 'disclaimer'"
                      class="info"
                    >
                        <ng-container *ngIf="bmi">
                            <p *ngFor="let p of step.info.split('\n')" [innerHTML]="p.replace('%s', bmi) | html"></p>
                        </ng-container>
                        <p *ngIf="!bmi">{{ step.info }}/</p>
                        <input [formControlName]="step.name" type="radio" value="true" style="height: 1px; visibility: hidden; opacity: 0; pointer-events: none;" #disclaimer/>
                        <button
                            mat-raised-button
                            type="button"
                            class="radio-click-btn btn-full-width"
                            color="primary"
                            aria-label="Go to the next step"
                            (click)="disclaimer.checked ? moveToNextStep() : disclaimer.click()"
                            >{{ step.button }}
                        </button>
                    </div>
                    <app-form-step
                      *ngIf="step.name !== 'anthropometry'"
                      [parentGroup]="formParent"
                      [data]="step"
                      (addControlEvent)="addControl($event)"
                      (selectOpenedOrClosedEvent)="setSelectStatus($event)"
                    >
                    </app-form-step>
                    
                </mat-step>
                </ng-container>

            </mat-vertical-stepper>
                   <!-- <pre>{{formParent.value | json }}</pre>  -->
        </div>
    </form>
    <div #ubFormContainer [attr.id]="'ubFormContainer'"></div>
</div>
