<div [formGroup]="parentGroup" [ngSwitch]="stepData?.type">

<mat-radio-group *ngSwitchCase="'radio'" class="radio-group" formControlName="{{'step'+ (index+1)}}">
  <span>{{stepData.question}}</span>
    <mat-radio-button *ngFor="let answer of stepData.answers" color="primary" class="radio-group-button" value="{{answer}}">{{answer}}</mat-radio-button>
</mat-radio-group>

<div *ngSwitchCase="'personal_information'" class="personal-information" [formGroupName]="setChildGroup('step'+ (index+1))">
  <span *ngIf="stepData.headline" class="full-width marginBottomSmall">{{stepData.headline}}</span>

    <mat-form-field *ngFor="let field of stepData.questions" class="marginBottomSmall {{field.modifier_class}}">
      <input *ngIf="textInput(field.type)" matInput placeholder="{{field.question}}" formControlName="{{field.field}}" type="{{field.type}}">
      <textarea *ngIf="field.type === 'textarea'" matInput placeholder="{{field.question}}" formControlName="{{field.field}}"></textarea>
      <mat-error>{{formatErrorMessage(field.question, field.field)}}</mat-error>
    </mat-form-field>

    <div *ngIf="stepData.tos">
      <mat-checkbox matInput formControlName="tos_signoff" color="primary">{{stepData.tos}}</mat-checkbox>
      <mat-error class="fontSize75"
          *ngIf="parentGroup.get(childGroupName).get('tos_signoff').touched && parentGroup.get(childGroupName).get('tos_signoff').invalid">You must accept our terms of service</mat-error>
    </div>

</div>