<div [formGroup]="parentGroup" [ngSwitch]="stepData?.type">
  
  <div *ngSwitchCase="'anthropometry'" [formGroupName]="setChildGroup('step'+ (index+1))">
      <div *ngIf="stepData.headline" class="full-width marginBottomNormal">{{stepData.headline}}</div>
      <div class="anthropometry__inner">        
        <div class="matSliderContainer">
          <div class="matSliderLabel">Height: {{ formatHeight(heightField.value) }}</div>
          <mat-slider 
            min="{{height[parentGroup.get(childGroupName).get('height_unit').value].min}}"
            max="{{height[parentGroup.get(childGroupName).get('height_unit').value].max}}"
            step="{{height[parentGroup.get(childGroupName).get('height_unit').value].step}}"
            value="{{height[parentGroup.get(childGroupName).get('height_unit').value].default}}"
            formControlName="height"
            color="primary"
            [thumbLabel]="height[parentGroup.get(childGroupName).get('height_unit').value].thumbLabel"
            [tickInterval]="height[parentGroup.get(childGroupName).get('height_unit').value].tickInterval"
            vertical
            #heightField>
          </mat-slider>
          
          <mat-button-toggle-group formControlName="height_unit" (change)="updateFormValue('height')">
            <mat-button-toggle value="cm" (click)="activeHeightUnit='cm'" (keydown)="toggleActiveHeightUnit($event)">cm</mat-button-toggle>
            <mat-button-toggle value="in" (click)="activeHeightUnit='in'" (keydown)="toggleActiveHeightUnit($event)">in</mat-button-toggle>
          </mat-button-toggle-group>
        </div>
        
        <div class="matSliderContainer matSliderContainer__button u-justify--center">
          <button matStepperNext mat-fab type="button" color="primary" [disabled]="parentGroup.get(childGroupName).invalid">
            <mat-icon>arrow_downward</mat-icon>
          </button>
        </div>

        <div class="matSliderContainer">
          <div class="matSliderLabel">Weight: {{ formatWeight(weightField.value) }}</div>
          <mat-slider
            min="{{weight[parentGroup.get(childGroupName).get('weight_unit').value].min}}"
            max="{{weight[parentGroup.get(childGroupName).get('weight_unit').value].max}}"
            step="{{weight[parentGroup.get(childGroupName).get('weight_unit').value].step}}"
            value="{{weight[parentGroup.get(childGroupName).get('weight_unit').value].default}}"
            formControlName="weight"
            color="primary"
            [thumbLabel]="weight[parentGroup.get(childGroupName).get('weight_unit').value].thumbLabel"
            [tickInterval]="weight[parentGroup.get(childGroupName).get('weight_unit').value].tickInterval"
            vertical
            #weightField>
          </mat-slider>
          <mat-button-toggle-group formControlName="weight_unit" (change)="updateFormValue('weight')">
            <mat-button-toggle value="kg" (click)="activeWeightUnit='kg'" (keydown)="toggleActiveWeightUnit($event)">kg</mat-button-toggle>
            <mat-button-toggle value="lb" (click)="activeWeightUnit='lb'" (keydown)="toggleActiveWeightUnit($event)">lb</mat-button-toggle>
          </mat-button-toggle-group>
        </div>
        <mat-toolbar color="primary" class="anthropometry__bmi">
          <span>BMI</span>
          <span class="fill-remaining-space"></span> 
          <span>{{bmi}}</span>
        </mat-toolbar> 
      </div>
  </div> 

   

  <mat-radio-group *ngSwitchCase="'radio'" class="radio-group" formControlName="{{'step'+ (index+1)}}">
      <mat-radio-button *ngFor="let answer of stepData.answers" color="primary" class="radio-group-button" value="{{answer}}" >{{answer}}</mat-radio-button>
  </mat-radio-group>

  <div *ngSwitchCase="'personal_information'" class="personal-information" [formGroupName]="setChildGroup('step'+ (index+1))">
    <span *ngIf="stepData.headline" class="full-width marginBottomSmall">{{stepData.headline}}</span>

      <mat-form-field *ngFor="let field of stepData.questions" class="marginBottomSmall {{field.modifier_class}}">
        <input *ngIf="textInput(field.type)" matInput placeholder="{{field.question}}" formControlName="{{field.field}}" type="{{field.type}}">
        <textarea *ngIf="field.type === 'textarea'" matInput placeholder="{{field.question}}" formControlName="{{field.field}}"></textarea>
        <mat-error>{{formatErrorMessage(field.question, field.field)}}</mat-error>
      </mat-form-field>

      <div *ngIf="stepData.tos" class="checkbox-container">
        <mat-checkbox matInput formControlName="tos_signoff" color="primary">{{stepData.tos}}</mat-checkbox>
        <mat-error class="fontSize75"
            *ngIf="parentGroup.get(childGroupName).get('tos_signoff').invalid">You must accept our terms of service</mat-error>
      </div>
  </div>

</div>