.header {
    background-color: #f7d91d;
    height: 75px;
    width: 100%;
    border-bottom-right-radius: 50px;
    box-shadow: 0 0 20px rgba(0,0,0,.1);
    display: flex;
    align-items:center;
    flex-wrap: nowrap;
}

.logo {
    flex: 1 1 280px;
    padding-left: 10%;
    padding-right: 1em;
}

.svg {
    max-width: 280px;
    min-width: 180px;
    fill: #585a51;
}

.svg--quno-logo .st1 {
    fill: #f7d91d;
    opacity: .5;
}