<div class="hero">
  <div class="hero__inner center-content">
    
    <div class="hero__values">
      <h1>{{heroStrings.headline}}</h1>
        
      <div class="hero__value" *ngFor="let value of heroStrings.values">
        <h2>
           <mat-icon>check</mat-icon>
          <strong>{{value.title}}</strong>
        </h2>
        <p class="padding-left--large">{{value.description}}</p>
      </div>
      
      <!-- <div class="hero__value">
        <h2>
          <mat-icon>check</mat-icon>
          <strong>High quality</strong>
        </h2>
        <p class="padding-left--large">The best doctors pre-selected for you</p>
      </div>
      
      <div class="hero__value">
        <h2>
          <mat-icon>check</mat-icon>
          <strong>Safe</strong>
      </h2>
        <p class="padding-left--large">We'll guide you every step of the way</p>
      </div> -->

      <button mat-raised-button class="show--mobile marginTopNormal" color="primary" type="button" (click)="goToFirstStep()">{{heroStrings.button_value}}</button>

      
    </div>

      <ng-container *ngIf="hasTopForm">
          <app-form-hero [data]="topFormData"></app-form-hero>
      </ng-container>

  </div>
</div>
