<div class="hero">
  <div class="hero__inner center-content">
    
    <div class="hero__values">
      <h1>Your Weight Loss Journey</h1>
        
      <div class="hero__value">
        <mat-icon>check</mat-icon>
        <span><strong>Affordable</strong></span>
        <p class="padding-left--medium">Find the right option for you</p>
      </div>
      
      <div class="hero__value">
        <mat-icon>check</mat-icon>
        <span><strong>High quality</strong></span>
        <p class="padding-left--medium">The best doctors pre-selected for you</p>
      </div>
      
      <div class="hero__value">
        <mat-icon>check</mat-icon>
        <span><strong>Safe</strong></span>
        <p class="padding-left--medium">We'll guide you every step of the way</p>
      </div>
      
    </div>
  </div>
</div>
