<div [formGroup]="parentGroup">

    <div *ngIf="data.question; else elseBlock">
        <ng-container [ngSwitch]="data.type">
            <app-radio *ngSwitchCase="'radio'" [parentGroup]="parentGroup" [data]="data" (addControlEvent)="addControl($event)" class="{{data.modifier_class}}"></app-radio>
            <app-select *ngSwitchCase="'select'" [parentGroup]="parentGroup" [data]="data" (addControlEvent)="addControl($event)" (selectOpenedOrClosedEvent)="selectOpenedOrClosed($event)" class="{{data.modifier_class}}"></app-select>
        </ng-container>
    </div>

    <ng-template #elseBlock>
        <div *ngIf="data.headline" class="headline">{{data.headline}}</div>
        <div [attr.class]="data.name">
            
            <ng-container *ngFor="let question of data.questions">
                
                <ng-container [ngSwitch]="question.type">
                    <div *ngSwitchCase="'slider'" class="matSliderContainer marginBottomNormal">
                        <app-slider [parentGroup]="stepGroup" [data]="question" (addControlEvent)="addControl($event)" class="{{question.modifier_class}}"></app-slider>
                    </div>
                    <app-toolbar *ngSwitchCase="'toolbar'" [parentGroup]="stepGroup" [data]="question" (addControlEvent)="addControl($event)" class="{{question.modifier_class}}"></app-toolbar>
                    <app-text *ngSwitchCase="'text'" [parentGroup]="stepGroup" [data]="question" (addControlEvent)="addControl($event)" class="{{question.modifier_class}}"></app-text>
                    <app-textarea *ngSwitchCase="'textarea'" [parentGroup]="stepGroup" [data]="question" (addControlEvent)="addControl($event)" class="{{question.modifier_class}}"></app-textarea>
                    <app-checkbox *ngSwitchCase="'checkbox'" [parentGroup]="stepGroup" [data]="question" (addControlEvent)="addControl($event)" class="{{question.modifier_class}}"></app-checkbox>
                    <app-select *ngSwitchCase="'select'" [parentGroup]="stepGroup" [data]="question" (addControlEvent)="addControl($event)" class="{{question.modifier_class}}"></app-select>
                    <ng-container *ngSwitchCase="'button'">
                        <div class="{{question.modifier_class}}">
                            <app-button [parentGroup]="stepGroup" [formGroup]="parentGroup" [data]="question"></app-button>
                        </div>
                    </ng-container>
                </ng-container>
            </ng-container>
        </div>
    </ng-template>
</div>
