<div [formGroup]="parentGroup">
    <mat-button-toggle-group [formControlName]="data.name" (change)="updateFormValue()" [value]="data.values[0].value">
        <!-- 
    <mat-button-toggle value="cm" (click)="activeHeightUnit='cm'" (keydown)="toggleActiveHeightUnit($event)">cm</mat-button-toggle>
    <mat-button-toggle value="in" (click)="activeHeightUnit='in'" (keydown)="toggleActiveHeightUnit($event)">in</mat-button-toggle>
     -->
        <mat-button-toggle *ngFor="let value of data.values, index as i" [value]="value">{{value}}</mat-button-toggle>
    </mat-button-toggle-group>
</div>