<mat-form-field [formGroup]="parentGroup" class="marginBottomSmall input-full-width">
    <input *ngIf="data.name === 'email'" (blur)="revalidateEmail($event)" matInput placeholder="{{data.question}}" formControlName="{{data.name}}" type="{{data.subtype||data.type}}">
    <input *ngIf="data.name !== 'email'" matInput placeholder="{{data.question}}" formControlName="{{data.name}}" type="{{data.subtype||data.type}}">
    <mat-hint *ngIf="data.name === 'email' ">{{warningMessage}}</mat-hint>
    <mat-error>{{selectErrorMessage()}}</mat-error>
</mat-form-field>