.form {
    background: #fff;
    padding: 1em;
}


/*
/deep/ div.mat-horizontal-stepper-content {
    overflow: visible;
}
*/

.buttons {
    margin: 1em 0;
}

.buttons button {
    margin-top: 1em;
}


/*
.personal-information {
    display: flex;
    flex-direction: column;
}

.full-width {
    width: 100%;
}

.half-width {
    width: 49.5%;
}

.radio-group {
    display: inline-flex;
    flex-direction: column;
}

.radio-group span {
    margin: 1em 0;
}

.radio-group-button {
    margin: .25em;
}
*/